#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* form */
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
input{
  padding: 10px;
  font-size: 15px;
  height: 10px;
  width: 100%;
  border: none;
  border-radius: 3px;
}
select{
  height: 40px;
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;

}
.checkBox{
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.submitBtn{
  width: 100px;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
}
/* PopUp */
#popUp{
  position: absolute;
  transform: translateY(-97.5vh) translateX(-40px);
  height: 100vh;
  width:1305px;
  background-color: #00000059;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.popUpContent{
  background-color: rgb(255, 255, 255);
  color: green;
  border-radius:10px ;
  padding: 10px;
}